<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48"/>
  <package id="NLog" version="5.0.0-rc2" targetFramework="net48"/>
  <package id="NLog.Schema" version="5.0.0-rc2" targetFramework="net48"/>
  <package id="Octokit" version="0.51.0" targetFramework="net48"/>
  <package id="OsuMemoryDataProvider" version="0.8.9" targetFramework="net48"/>
  <package id="PostSharp" version="6.10.9" targetFramework="net48"/>
  <package id="PostSharp.Patterns.Common" version="6.10.9" targetFramework="net48"/>
  <package id="PostSharp.Patterns.Common.Redist" version="6.10.9" targetFramework="net48"/>
  <package id="PostSharp.Patterns.Diagnostics" version="6.10.9" targetFramework="net48"/>
  <package id="PostSharp.Patterns.Diagnostics.NLog" version="6.10.9" targetFramework="net48"/>
  <package id="PostSharp.Patterns.Diagnostics.Redist" version="6.10.9" targetFramework="net48"/>
  <package id="PostSharp.Redist" version="6.10.9" targetFramework="net48"/>
  <package id="ProcessMemoryDataFinder" version="0.8.3" targetFramework="net48"/>
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net48"/>
</packages>