<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="5.0.0-rc2" targetFramework="net48" />
  <package id="NLog.Schema" version="5.0.0-rc2" targetFramework="net48" />
  <package id="PostSharp" version="6.10.9" targetFramework="net48" />
  <package id="PostSharp.Patterns.Common" version="6.10.9" targetFramework="net48" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.10.9" targetFramework="net48" />
  <package id="PostSharp.Patterns.Diagnostics" version="6.10.9" targetFramework="net48" />
  <package id="PostSharp.Patterns.Diagnostics.NLog" version="6.10.9" targetFramework="net48" />
  <package id="PostSharp.Patterns.Diagnostics.Redist" version="6.10.9" targetFramework="net48" />
  <package id="PostSharp.Redist" version="6.10.9" targetFramework="net48" />
</packages>